@import url('./base.css');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    padding: 0px;
    margin: 0px;
    width: 100%;
    overflow: hidden;
}

.p-button.fill {
    background-color: var(--color-secondary);
}

.p-divider {
    border-width: 1px;
}