@import url('./base.css');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    padding: 0px;
    margin: 0px;
    width: 100%;
    user-select: none;
    overflow: hidden;
}

.p-button.fill {
    background-color: var(--color-secondary);
}

.p-divider {
    border-width: 1px;
}

.p-dialog-spinner {
    filter: blur(1.5px);
    pointer-events: none !important;
}

.p-dialog-header span {
    max-width: 90%;
    text-overflow: ellipsis;
    white-space: break-spaces;
    overflow: hidden;
}